<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>X60 is a lifestyle.</h3>
      <p>
        A healthy lifestyle that involves eating right, exercising regularly & sleeping well so you become fitter, healthier & Stronger
        ...... Everyday.
      </p>
    </div>
  </div>
  <div class="row">
      <md-card class="example-card col-md-3">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title></md-card-title>
          <md-card-subtitle>Eat Right</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            i.e. meat/ vegetables, nuts & seeds, some fruits, little starch and no sugar. Outsource the headache of measuring, preparing
            and monitoring your intake to levels that will support exercise but not body fat.
          </p>
        </md-card-content>
      </md-card>
      <md-card class="example-card col-md-3">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title></md-card-title>
          <md-card-subtitle>Exercise Regularly</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            Make inactivity your enemy. Keep workouts short and intense for dramatic gains in fitness. Spend 60 mins a day at our certified
            CrossFit centre for a high intensity, constantly varied functional workout. Certified trainers & peers will guarantee
            its competitive & fun
          </p>
        </md-card-content>
      </md-card>
      <md-card class="example-card col-md-3">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title></md-card-title>
          <md-card-subtitle>Sleep Well</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            One less hour of sleep does not equal an extra hour of achievement or enjoyment. Rest longer today to get more done tomorrow.
            Allow us to monitor your sleep patterns and share simple tips that will greatly enhance your quality of sleep.

          </p>
        </md-card-content>
      </md-card>
  </div>
</div>
