.example-card {
  padding: 8px;
  margin: 8px;
  background-color: transparent;
}

.example-header-image {
  background-image: url('../../assets/images/dummy.png');
  background-size: cover;
  height: 48px;
  width: 48px;
}