<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        <font color="#AD1515 ">X60 is a lifestyle.</font>
      </h3>
      <p>
        A healthy lifestyle that involves eating right, exercising regularly & sleeping well so you become fitter, healthier & <b><i>Stronger...... Everyday</i></b>.
      </p>
    </div>
  </div>
  <div class="row">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title></md-card-title>
        <md-card-subtitle>Exercise Daily</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Keep workouts short and intense for dramatic gains in fitness. Spend 60 mins a day at our CrossFit centre for a high intensity,
          constantly varied functional workout that we guarantee will be competitive & fun
        </p>
      </md-card-content>
    </md-card>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title></md-card-title>
        <md-card-subtitle>Eat Right</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Follow the Zone diet i.e. meat/ vegetables, nuts & seeds, some fruits, little starch and no sugar. Outsource the headache
          of measuring, preparing and monitoring your intake to levels that will support exercise but not body fat.
        </p>
      </md-card-content>
    </md-card>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title></md-card-title>
        <md-card-subtitle>Sleep Well</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          One less hour of sleep does not equal an extra hour of achievement or enjoyment. Rest longer today to get more done tomorrow.
          We’ll share simple tips that will greatly enhance your quality of sleep.
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>