<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5155744607755!2d78.39958041431908!3d17.435020388050113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb914604fc2073%3A0x471b6ef10171e3!2s789+Landmark!5e0!3m2!1sen!2sin!4v1496470650778"></iframe>
      </div>
      <hr>
      <md-list class="mat-elevation-z4">
        <md-list-item>
          <md-icon md-list-icon>Contact Us</md-icon>
          <h3 md-line>3rd Floor, 789 Landmark, Rd No. 36</h3>
          <p md-line>
            <span>Jubilee Hills (Beside N Grill)</span>           
          </p>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>link</md-icon>
          <a md-line href="/">www.x60crossfit.in</a>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>phone</md-icon>
          <h3 md-line>+91 9963993266</h3>
        </md-list-item>
        <md-list-item>
          <md-icon md-list-icon>email</md-icon>
          <h3 md-line>x.rishi@gmail.com</h3>
        </md-list-item>
      </md-list>
      <br><br>
    </div>
  </div>
</div>