<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.61034164182!2d93.93069794255824!3d24.80879292781868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374927b386f93567%3A0x95a6294bc8d61617!2sMidas+Touch+%2C+Main+Office!5e0!3m2!1sen!2sin!4v1485785866977"></iframe>
      </div>
      <br><hr><br>
      <div>
        <p>3rd Floor, 789 Landmark, Rd No. 36, Jubilee Hills (Beside N Grill)</p>
        <p>www.x60crossfit.in</p>
        <p>+91 9963993266</p>
        <p>x.rishi@gmail.com</p>
      </div>
    </div>
  </div>
</div>