<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p>
        CrossFit is
        <font color="AD1515">constantly varied functional movements</font>
        performed at
        <font color="AD1515">high intensity </font> that lead to
        <font color="AD1515">dramatic gains in fitness</font>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>All CrossFit workouts are based on functional movements that reflect the core movements of life</li>
        <li>Intensity is essential for results – doing more work in less time leads to bigger results</li>
        <li>Spontaneous community of people working out together makes it competitive and fun</li>
        <li>Accurate scores & records, timers and precisely defined workouts, ensure unprecedented output and high motivation</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Overall, the aim of CrossFit is to forge a broad, general and inclusive fitness supported by measurable, observable and repeatable
        results. The program is designed for universal scalability, making it the perfect application for any committed individual,
        regardless of experience.
      </p>
    </div>
  </div>
</div>