<md-card class="example-card col-xs-12">
  <md-card-header>
    <md-card-title></md-card-title>
    <md-card-subtitle>CrossFit is constantly varied functional movements performed at high intensity that lead to dramatic gains in fitness.</md-card-subtitle>
  </md-card-header>
  <div class="row">    
    <img md-card-lg-image src="../../assets/images/a.jpg" class="col-md-3">
    <md-card-content class="col-ms-8">
      <ul style="padding: 16px;">
        <li style="margin: 8px;">All CrossFit workouts are based on functional movements that reflect the core movements of life. </li>
        <li style="margin: 8px;">Intensity is essential for results - the more work you do in less time, the more intense the effort. </li>
        <li style="margin: 8px;">The spontaneous community of people working out together makes it competitive and fun. </li>
        <li style="margin: 8px;">Accurate scores & records, timers and precisely defined workouts, ensure unprecedented output and high motivation.</li>
      </ul>
    </md-card-content>
  </div>
  <md-card-actions style="margin: 8px;" >
     <md-card-subtitle>
    Overall, the aim of CrossFit is to forge a broad, general and inclusive fitness supported by measurable, observable and repeatable
    results. The program is designed for universal scalability, making it the perfect application for any committed individual,
    regardless of experience. To know more visit https://www.crossfit.com
     </md-card-subtitle>
  </md-card-actions>
</md-card>