<md-sidenav-container>
  <md-sidenav #sidenav mode="push" opened="true" style="background-image: url(assets/images/bg.jpg);">
    <app-header></app-header>
  </md-sidenav>
  <div class="my-content">

    <router-outlet>
      <md-button-toggle (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </md-button-toggle>
    </router-outlet>
    <md-toolbar class="push">
       <div class="example-button-row">
          <h3>
              <span>Join for a free 30 day membership!</span>
              <a md-fab routerLink="/contact"><md-icon>check</md-icon></a>
              
            </h3>
        </div>                          
      
    </md-toolbar>
  </div>
  <div class="footer">
  </div>
</md-sidenav-container>
