<section style="width:100%; height: 100%;" fxLayout="column">
  <md-toolbar class="mat-elevation-z4">
    <section>
      <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
      </button>
    </section>
    <section style="padding-top: 26px;">
      <font color="#AD1515">X 60</font>
      <br> CrossFit <br>
      <small>Stronger...Everyday</small>
    </section>
    <span fxFlex></span>
    <section fxLayout="column">
      <section fxLayoutAlign="end">
        <a href="http://www.facebook.com/" target="_blank">
            <img src="//simplesharebuttons.com/images/somacro/facebook.png" style="width:24px;height:24px;" alt="Facebook" />
        </a>        
      </section>
      <section style="margin-bottom: -24px; margin-top: 8px;">
         <a style="background-color: #AD1515" md-raised-button routerLink="/contact">
          <font color="#ffffff">Book a free trial</font>
         </a>
      </section>
    </section>
  </md-toolbar>

  <md-sidenav-container class="example-container" fxFlex>
    <md-sidenav #sidenav class="example-sidenav" mode="side" opened="true" style="background-image: url(assets/images/bg.jpg);">
      <app-header></app-header>
    </md-sidenav>
    <section style="background-color: #E5E5E5; overflow: auto;" fxFlex>
      <router-outlet></router-outlet>
    </section>
  </md-sidenav-container>

</section>