<p>
  The Zone Diet requires that you simply balance your plate at every meal and snack with these nutrients:
Protein – 1/3rd of your plate, add some lean protein, about the size and thickness of your palm. This could include egg whites, fish, poultry, lean beef or low-fat dairy.
Carbohydrates – 2/3rds of your plate, add a lot colorful vegetables and a little fruit. Fruits and vegetables to avoid are those that are high in sugar (e.g., bananas, carrots, grapes, raisins) or starchy (e.g., potatoes, corn).
Fat – Add a little bit of monounsaturated fat. This could include olive oil, avocado, or almonds.
</p>
To learn more visit www.zonediet.com

