@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav-container md-sidenav {
  width: 250px;
}


/*html,
body,
material-app,
md-sidenav-container,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav {
  padding: 16px;
}



.my-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -64px;
  /* the bottom margin is the negative value of the footer's height */


/*}
.footer,
.push {
  height: 64px;
  /* .push must be the same height as .footer */


/*}*/


/*.mat-sidenav-backdrop.mat-sidenav-shown {
  background: transparent !important;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
*/
